body {
  background-color:black;
  font-family:courier;
}

h1 {
  color:magenta; 
  text-align:center; 
  font-size:350%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
}

p {
  color:magenta;
  font-size:120%;
}

.caption {
  color:magenta; 
  font-size:80%; 
  text-align:center;
}

h2 {
  color:magenta; 
  font-size:200%;
}

ul {
  color:magenta;
  font-size:120%;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
}
